@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Roboto&family=Roboto+Mono:wght@300;400&family=Rubik:wght@500&family=Source+Sans+Pro:wght@200;400&display=swap');

body {
font-family: 'Rubik', sans-serif;
background: #bdc3c7; 
background: -webkit-linear-gradient(to right, #bdc3c7, #2c3e50); 
background: linear-gradient(to right, #bdc3c7, #2c3e50); 
}

.bottomblock{
  display: flex;
  justify-content: space-around;
}
